.bg-color-land {
  background-color: #f7b5c4;

  height: 645px;
}

.title {
  width: 100%;
  font-size: 10vw;
  /* font-family: "Post No Bills Colombo", sans-serif; */
  color: #ce5773;
  padding-top: 10rem;
}

.title p {
  font-size: 3vw;
  color: #ce5773;
}
/* .container {
  text-align: center;
  border: 3px solid green;
} */
.btn-group {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: medium;
  font-weight: 100;
  background-color: #d68497;
  height: 12%;
}
.mydiv {
  border: 2px;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  color: #ce5773;
  border-radius: 4px;
  margin-top: 1%;
}
